body{
  min-height: 100vh;
  width: 100%;
  background: #74ebd5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.form-group input{
  background-color: rgba(116, 235, 213, 0.3)!important;
  color: whitesmoke!important;
  border-color: rgba(116, 235, 255, 0.8)!important;;
}

.form-group select{
  background-color: rgba(116, 235, 213, 0.3)!important;
  color: grey!important;
  border-color: rgba(116, 235, 255, 0.8)!important;
  border-width: 0.10rem;
}


.text-main{
  color: rgba(0, 0, 0, 0.55);
}

.bg-members{
  background-color: rgba(0, 0, 0, 0.05)!important;
}

.cursor-click{
  cursor: pointer;
  transition: font-size 0.45s, color 0.75s;
}

.cursor-click:hover{
  font-size: 1.15rem;
  color: grey!important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255, 0.4) !important;
  opacity: 1; /* Firefox */
}

